<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="home">Home</a>
            <a href="menu">Menu</a>
            <% if(!user){ %>
              <div class="dropdown">
                <button type="button" onclick="expand()" class="dropbtn">
                  Login or Register
                  <!-- <div class="fas fa-user"></div> -->
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="login">Login</a>
                  <a href="register">Register</a>
                </div>
              </div>
            <% } else { %>
              <div class="dropdown">
                <button type="button" onclick="expand()" class="dropbtn">
                  Hi <%=user.firstname %>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="cart">Your cart</a>
                  <a href="orders">Your orders</a>
                  <a href="makeReservation">Reserve table</a>
                  <a href="logout">Logout</a>
                </div>
              </div>
            <% } %>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <section class="showcase">
      <video
        src="videos/Restaurant food cinematic.mp4"
        muted
        loop
        autoplay
      ></video>
      <div class="alpha"></div>
      <div class="welcome-text">
        <h2>We Cook</h2>
        <h3>What you love</h3>
        <p>
          Indulge your senses at La Ratatouille, where culinary artistry meets
          unparalleled ambiance. Explore the symphony of flavors meticulously
          crafted by our skilled chefs, served in a setting that captures both
          elegance and comfort. Join us for an unforgettable dining experience
          that transcends the ordinary.
        </p>
        <a href="menu">see the menu</a>
      </div>
    </section>

    <!-- <section class="category">
      <h1 class="title">food category</h1>
      <div class="box-container">
        <% if(category.length > 0) { category.forEach(function(category){ %>
        <a href="<%= category.type %>" class="box">
          <img src="images/cat-1.png" alt="" />
          <h3><%= category.type %></h3>
        </a>
        <% }); } %>
      </div>
    </section> -->

    <section class="products">
      <!-- <h1 class="title">Our Most Popular Items</h1> -->
      <!-- kete dio chaile -->
      <p class="title"><span>Popular Items</span></p> 
      <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
          <% if(data.length > 0) { data.forEach(function(data){ 
            const img = "/images/" + data.title + ".jpg"
            disprice = parseFloat(data.price) - ((parseFloat(data.price) * parseFloat(data.discount)) / 100.0)%>
          <div class="swiper-slide slide">
            <form action="/addToCart" method="post" class="box">
              <!-- <button
                class="fas fa-shopping-cart"
                type="submit"
                name="id"
                value="<%=data.id%>"
              ></button> -->
              <img src="<%=img%>" alt="" />
              <h2 style="color: darkgray;"><%= data.type %></h2>
              <div class="name"><%= data.title %></div>
              <div class="flex">
                <div class="price">
                  <%if(data.discount > 0){%>
                    <span>BDT </span><span style="text-decoration: line-through; color: red;"><%= data.price %></span><span style="font-size: 2.6rem; color: black;"> <%=disprice%></span><span>/-</span>
                  <%}else{%>
                    <span>BDT </span><%= data.price %><span>/-</span>
                  <%}%>
                </div>
                <span class="qt">Qty:</span>
                <input
                  type="number"
                  name="qty"
                  class="qty"
                  min="1"
                  max="99"
                  value="1"
                  onkeypress="if(this.value.length == 2) return false;"
                />
              </div>
              <div class="addtocart" style="display: flex;">
                <button class="btn"
                type="submit"
                name="id"
                value="<%=data.id%>"
                style="width: 100%;"
                >
                Add to Cart
                </button>
              </div>
            </form>
          </div>
          <% }); } %>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="more-btn">
        <a href="menu" class="btn"><span>view all </span></a>
      </div>
    </section>

    <footer class="footer">
      <section class="box-container">
        <div class="box">
          <img src="images/map-icon.png" alt="" />
          <h3>Find us in</h3>
          <a href="#">Mirpur, Dhaka</a>
          <a href="#">Anderkilla, Chittagong</a>
        </div>

        <div class="box">
          <img src="images/clock-icon.png" alt="" />
          <h3>We're open</h3>
          <p>Everyday</p>
          <p>from 07am to 10pm</p>
        </div>

        <div class="box">
          <img src="images/email-icon.png" alt="" />
          <h3>Email</h3>
          <a href="mailto:laratatoulli@gmail.com">laratatoulli@gmail.com</a>
          <a href="mailto:laratatoulli@outlook.com">laratatoulli@outlook.com</a>
        </div>

        <div class="box">
          <img src="images/phone-icon.png" alt="" />
          <h3>Phone</h3>
          <p>+880 1521-703875</p>
          <p>+880 1640-922106</p>
        </div>
      </section>

      <div class="credit"><hr style="border: .1rem solid #aaaaaa;">Made with ❤️ by <span>Mitu & Saif</span></div>
    </footer>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".reviews-slider", {
        loop: true,
        grabCursor: true,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
        },
        breakpoints: {
          360: {
            slidesPerView: 1,
          },
          600: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
          1280: {
            slidesPerView: 4,
          },
        },
      });
    </script>
    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
