<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Menu</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/admin.css" />
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="/adminDashboard" class="links">Dashboard</a>
            <a href="/adminDineInOrders">Dine-Ins</a>
            <a href="/adminOnlineOrders">Deliveries</a>
            <a href="/adminReservations">Reservations</a>
            <a href="/adminAddItem" class="links">Add Item</a>
            <a href="#" class="links" id="actv">Modify Item</a>
            <a href="/logout" class="links">Logout</a>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <section class="form-container">
      <form action="/adminModifyItem" method="post">
        <div class="safety">
          <h3>Modify Item</h3>
          <input type="hidden" name="id" value="<%= data.id %>">
          <input
            type="text"
            required
            maxlength="100"
            name="title"
            placeholder="Item name"
            class="box"
            value="<%=data.title%>"
          />
          <input
            type="text"
            required
            maxlength="1000"
            name="content"
            placeholder="Description of item"
            class="box"
            value="<%=data.content%>"
          />
          <input
            type="text"
            required
            maxlength="20"
            name="type"
            placeholder="Item type"
            class="box"
            value="<%=data.type%>"
          />
          <div class="box cal">
            <label
              for="price"
              style="color: var(--light-color); padding-right: 1rem"
              >Price:
            </label>
            <input
              type="number"
              required
              min="1"
              max="10000"
              value="<%=data.price%>"
              name="price"
              class="qty"
              onkeypress="if(this.value.length == 5) return false;"
            />
          </div>
          <div class="box cal">
            <label
              for="discount"
              style="color: var(--light-color); padding-right: 1rem"
              >Discount(%):
            </label>
            <input
              type="number"
              min="0"
              max="99"
              value="<%=data.discount%>"
              name="discount"
              class="qty"
              onkeypress="if(this.value.length == 2) return false;"
            />
          </div>
          <div class="box cal">
            <label
              for="availability"
              style="color: var(--light-color); padding-right: 1rem"
              >Availability 
            </label>
            <input
              type="checkbox" 
              name="availability" 
              value="Yes"
              checked
              style="background-color: black;"
            />
          </div>
          <!-- <div class="box cal">
            <label
              for="image"
              style="color: var(--light-color); padding-right: 1rem"
              >Preview:
            </label>
            <input type="file" name="image" style="font-size: 1.5rem" />
          </div> -->
          <button type="submit" class="btn" style="background-color: black;"><span>Confirm Change</span></button>
        </div>
      </form>
    </section>

    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
