<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <style>
      .cart {
        position: relative;
        display: inline-block;
        width: 3rem;
        /* height: 28px; */
        height: auto;
        /* overflow: hidden; */
        .material-icons {
          position: relative;
          top: .4rem;
          z-index: 1;
          font-size: 24px;
          color: black;
        }
        .count {
          position: absolute;
          top: -.5rem;
          right: 0;
          z-index: 2;
          font-size: 11px;
          border-radius: 50%;
          background: #d60b28;
          width: 16px;
          height: 16px;
          line-height:16px;
          display: block;
          text-align: center;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
        }
      }
    </style>
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="home">Home</a>
            <a href="menu">Menu</a>
            <a href="cart">
              <div class="cart">
                <% if(cart.length > 0) { %>
                <span class="count"><%= cart.length %></span>
                <%}%>
                <i class="fa-solid fa-cart-shopping material-icons"></i>
                <!--   <span class="count">1</span> -->
                <!-- <i class="material-icons">shopping_cart</i> -->
              </div>
            </a>
              <div class="dropdown">
                <button type="button" onclick="expand()" class="dropbtn">
                  Hi <%=user.firstname %>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <!-- <a href="cart">Your cart</a> -->
                  <a href="orders">Your orders</a>
                  <a href="makeReservation">Reserve table</a>
                  <a href="logout">Logout</a>
                </div>
              </div>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <!-- <div class="heading">
      <h3>your orders</h3>
      <p><a href="home">home </a> <span> / orders</span></p>
    </div> -->

    <section class="orders">
      <p class="title"><span>Placed Orders</span></p> 


      <table class="tbl" style="margin-bottom: 5rem; width: 80%;">
        <%if(data.length > 0){%>
      <tr>
        <th>Order ID</th>
        <th>Created At</th>
        <th>Customer Info</th>
        <th>Delivery Info</th>
        <th>Order Info</th>
        <th>Payment Info</th>
        <th>Status</th>
      </tr>
      <%data.forEach(function(data){%>
      <tr>
        <td><%=data.id%></td>
        <td><%=data.createdAt%></td>
        <td>
          <p><span style="font-weight: bold;">Name: </span><span><%= user.firstname %></span></p>
          <p><span style="font-weight: bold;">Phone: </span><span><%= user.phone %></span></p>
        </td>
        <td><p><span><%= data.address %></span></p></td>
        <td><p><span><%= data.description %></span></p>
          <p><span style="font-weight: bold;">Price breakdown : </span><span><%= data.price_breakdown %></span></p>
        </td>
        <td>
          <p><%=data.total%></p>
          <p><span style="font-weight: bold;">Paid</span></p>
        </td>
        <td><%=data.status%></td>
    </tr>         
    <%});} else{%>
      <section class="products" style="display: flex; justify-content: center; align-items: center;">
        <p style="font-size: 2rem;">You haven't ordered anything yet.<br>Browse our <a href="menu" style="color: blue;">menu </a> to order your favorite food.</p>
      </section>
    <%}%> 
  </table>

      <!-- <div class="box-container">
        <%
        if(data.length > 0)
        {
          data.forEach(function(data){
        %>
        <div class="box">
          <p>placed on : <span><%= data.createdAt %></span></p>
          <p>name : <span><%= user.firstname %> <%= user.lastname %></span></p>
          <p>number : <span><%= user.phone %></span></p>
          <p>email : <span><%= user.email %></span></p>
          <p>address : <span><%= data.address %></span></p>
          <p>description : <span><%= data.description %></span></p>
          <p>price breakdown : <span><%= data.price_breakdown %></span></p>
          <p>instruction : <span><%= data.instruction %></span></p>
        </div>
        <%
          });
        }
        %>
      </div> -->

    </section>

    <footer class="footer">
      <!-- <section class="box-container">
        <div class="box">
          <img src="images/map-icon.png" alt="" />
          <h3>Find us in</h3>
          <a href="#">Mirpur, Dhaka</a>
          <a href="#">Anderkilla, Chittagong</a>
        </div>

        <div class="box">
          <img src="images/clock-icon.png" alt="" />
          <h3>We're open</h3>
          <p>Everyday</p>
          <p>from 07am to 10pm</p>
        </div>

        <div class="box">
          <img src="images/email-icon.png" alt="" />
          <h3>Email</h3>
          <a href="mailto:laratatoulli@gmail.com">laratatoulli@gmail.com</a>
          <a href="mailto:laratatoulli@outlook.com">laratatoulli@outlook.com</a>
        </div>

        <div class="box">
          <img src="images/phone-icon.png" alt="" />
          <h3>Phone</h3>
          <p>+880 1521-703875</p>
          <p>+880 1640-922106</p>
        </div>
      </section> -->

      <div class="credit"><hr style="border: .1rem solid #aaaaaa;">Made with ❤️ by <span>Mitu & Saif</span></div>
    </footer>

    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
