<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/admin.css" /> 
  </head>
  <body>
    <div class="loader">
      <img id="pizza" src="images/pizza-loading.svg" alt="loading screen" />
      <p class="loading">Loading...</p>
    </div>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="menu">Prepare a order</a>
            <a href="#" id="actv">Orders</a>
            <a href="logout">Logout</a>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <div class="report">
      <p class="title"><span>Orders</span></p>
    </div>
    
        <table class="tbl" style="margin-bottom: 5rem">
            <%if(data.length > 0){%>
          <tr>
            <th>Order ID</th>
            <th>Table ID</th>
            <th>Description</th>
            <th>Price Breakdown</th>
            <th>Total</th>
            <th>Created At</th>
            <th>Instruction</th>
            <th>Status</th>
          </tr>
          <%data.forEach(function(data){%>
          <tr>
            <td><%=data.id%></td>
            <td><%=data.table_id%></td>
            <td><%=data.description%></td>
            <td><%=data.price_breakdown%></td>
            <td><%=data.total%></td>
            <td><%=data.createdAt%></td>
            <td><%=data.instruction%></td>
            <%if(data.status==='Processing'){%>
            <td>
                <form action="/changeStatus" method="post">
                  <input type="hidden" name="id" value="<%=data.id%>" />
                  <select name="status" class="sel" onchange="this.form.submit()">
                      <option value="Processing">Processing</option>
                      <option value="Served">Served</option>
                  </select>
                </form>
            </td>
            <%}else if(data.status==='Served'){%>
            <td>
                <form action="/changeStatus" method="post">
                    <input type="hidden" name="id" value="<%=data.id%>" />
                    <input type="hidden" name="table_no" value="<%=data.table_id%>" />
                    <select name="status" class="sel" onchange="this.form.submit()">
                        <option value="Served">Served</option>
                        <option value="Paid">Paid</option>
                    </select>
                </form>
            </td>
            <%}else{%>
            <td style="color: var(--green)">Paid</td>
            <%}%>
        </tr>         
        <%});} else{%>
          <tr><td>No orders yet!</td></tr>
        <%}%> 
      </table>
    

    <script src="js/loader.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>