<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <header class="header">
      <section class="flex">
        <a href="#" class="logo">La Ratatouille</a>
        <div class="right">
          <nav class="navbar">
            <a href="#" id="actv">Prepare a order</a>
            <a href="waiterOrders">Orders</a>
            <a href="logout">Logout</a>
          </nav>
          <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
          </div>
        </div>
      </section>
    </header>

    <section class="products">
      <p class="title"><span>Cart</span></p> 
        <%if(!cart || (cart && cart.length===0)) {%>
        <div class="empty">
          <p>Cart is empty</p>
          <p>Add items from <a href="menu" style="color: blue;">menu </a> to prepare a order</p>
        </div>
        <% } else{ %>
        <div class="box-container">
          <% let total = 0; %> <% cart.forEach(function(cart){ total +=
          cart.subtotal; const img = "/images/" + cart.title + ".jpg" 
          disprice = parseFloat(cart.price) - ((parseFloat(cart.price) * parseFloat(cart.discount)) / 100.0)%>
          <div class="box">
            <form action="/removeItem", method="post">
              <input
                  type="hidden"
                  name="title"
                  value="<%= cart.title %>"
                />
            <button
              class="fas fa-times"
              type="submit"
              name="delete"
              onclick="return confirm('delete this item?')"
              style="border-radius: 50%; border: none"
            ></button>
          </form>
            <img src="<%=img%>" alt="" />
            <div class="name"><%= cart.title %></div>
            <div class="flex">
              <div class="price">
                <%if(cart.discount > 0){%>
                  <span>BDT </span><span style="text-decoration: line-through; color: red;"><%= cart.price %></span><span style="font-size: 2.6rem; color: black;"> <%=disprice%></span><span>/-</span>
                <%}else{%>
                  <span>BDT </span><%= cart.price %><span>/-</span>
                <%}%>
              </div>
              <div class="op">
                <form action="/changeQuantity" method="post">
                  <button
                  type="submit"
                  name="op"
                  value="decrease"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                >
                  <svg
                    class="minus"
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 448 512"
                  >
                    <style>
                      svg.minus {
                        fill: #000000;
                      }
                    </style>
                    <path
                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM152 232H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"
                    />
                  </svg>
                </button>
                <input
                  type="hidden"
                  name="title"
                  value="<%= cart.title %>"
                />
                <input
                  type="number"
                  name="qty"
                  class="qty qty2"
                  min="1"
                  max="99"
                  value="<%= cart.quantity %>"
                  disabled
                />
                <button
                  type="submit"
                  name="op"
                  value="increase"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                >
                  <svg
                    class="plus"
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 448 512"
                  >
                    <style>
                      svg.plus {
                        fill: #000000;
                      }
                    </style>
                    <path
                      d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                    />
                  </svg>
                </button>
                </form>
                
              </div>
            </div>
            <div class="sub-total">
              sub total :<span>BDT </span><%= cart.subtotal%>
            </div>
          </div>
          <% }); %>
        </div>
  
        <div class="more-btn">
          <a
            href="clearCart"
            class="btn delete-btn"
            onclick="return confirm('delete all from cart?');"
            ><span>Delete All </span></a
          >
        </div>
  
        <form action="/waiterPrepareOrder" method="post" class="box">
          <div class="cart-total">
            <div style="width:100%; text-align: center;">
              <!-- <h3 style="font-size: 2.5rem;">Delivery Info</h3> -->
            </div>
            <input 
            type="number" 
            placeholder="Table No" 
            required 
            name="table_no" 
            min="0"
            max="10"
            style="padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%; padding-top: 16px; padding-bottom: 16px; border:1px solid #ccc"
            style="font-size: 1.75rem;"
            onkeypress="if(this.value.length == 2) return false;"
            >
            <input 
            type="text" 
            placeholder="Any instructions" 
            name="instruction" 
            style="padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%; padding-top: 16px; padding-bottom: 16px; border:1px solid #ccc"
            style="font-size: 1.75rem;"
            >
            <p>grand total : BDT<span> <%=total%></span></p>
            <button type="submit" class="btn" style="background-color: black;"><span>Confirm Order</span></button>
          </div>
        </form>
        <% } %>
      </section>

    <script src="js/script.js"></script>
  </body>
</html>